# Keyboard Layout
setxkbmap gb &

# Wallpaper restore
nitrogen --restore &

# Compositor
picom -F &

# Suspend 
xautolock -time 30 -locker ~/suspend.sh -notify 30 -notifier 'notify-send -u critical -t 10000 -- \"System Suspend\" \"System will suspend in 30 seconds\"' &

xss-lock -- ~/suspend.sh & 
